version: '3.8'
services:
  alertmanager:
    image: prom/alertmanager:latest
    volumes:
      - /mnt/alerts/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
    ports:
      - "9093:9093"
