rule_files:
  - "/etc/prometheus/alerts.yml"
global:
  scrape_interval: 10s
scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
        - 172.20.107.110:9090
        - 172.20.107.111:9100
        - 172.20.107.112:9100

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['172.20.107.110:9093', '172.20.107.111:9093', '172.20.107.112:9093']
